<%- include('partials/header', {userId: userId, name: name}) %>
<div class="container">
	<h1>Edit Post</h1>
	<form action="/edit/<%= post.blog_id %>" method="POST">
		<label>Title:</label><br />
		<input
			type="text"
			name="title"
			value="<%= post.title %>"
			required
		/><br /><br />
		<label>Content:</label><br />
		<textarea name="content" rows="6" required><%= post.body %></textarea
		><br /><br />
		<button type="submit">Save Changes</button>
	</form>
</div>
<%- include('partials/footer') %>
